<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='disppredstyles.css') }}">
    <title>Display Prediction by Prices</title>
</head>
<body>
    <h1>Display Prediction by Prices</h1>
    <div>
        <button id="show-table-btn">Show Table</button>
        <button id="back">Clear Table</button>
    </div>
    <!-- Display the table -->
    <div id="table-container"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='disppredscript.js') }}"></script>
</body>
</html>
