<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Download</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='exportstyles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="message">File has been downloaded successfully</h1>
        <button id="back-button">Back</button>
    </div>
    <script src="{{ url_for('static', filename='exportscript.js') }}"></script>
</body>
</html>
